.holder{
	display:grid;
	width:200px;
	border:1px solid black;
	height:200px;
	grid-template-columns:repeat(2,1fr);
	grid-template-rows:repeat(2,1fr);
		
}
.item{
	border:1px solid black;
}

/* Your CSS Code here. */